$font : 'Comic Neue',
cursive;
$parahfontcolor: #b0b0b0;
$banner_bg_color: #0f301b;
$color_white: #fff;
$color_black : #000;
// $services_bg_color : #252e2b;
$services_bg_color : #273541;
$trending_bg_color : #0f301b;